---
import Heading from "@components/Heading.astro";
import Form from "@components/Form.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Support | Atma Seva - Support Marginalised, Women, Children and Elderly"
  description="Providing support, in Health care, Welfare and Education for Vulnerable, Marginalised, Women, Children and the Elderly in Uttarakhand, India."
>
  <main class="my-20">
    <div class="text-center mb-10">
      <Heading class="mb-5">Support the Seva</Heading>
      <p class="mb-10">
        If you would like to contribute towards Atma Seva’s efforts, <br />
         please do get in touch so we can send you the details.
      </p>
      <a
        class="text-center mb-10 text-lg font-semibold hover:text-stone-700"
        title="Send email to atmaseva108@gmail.com"
        href="mailto:atmaseva108@gmail.com"
        target="_top"
      >
        atmaseva108@gmail.com
      </a>
    </div>
    <Form />
  </main>
</Layout>
