---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"button">;
const { type, ...attrs } = Astro.props;
---

<button
  class="px-5 py-2 mt-5 rounded-md bg-amber-500 transition delay-150 duration-300 ease-in-out hover:bg-amber-600 hover:text-slate-100"
  type={type}
  {...attrs}
>
  <slot />
</button>
